<p><strong>Education:</strong></p>
<p>Search: <input ng-model="$ctrl.query" /></p> 
<p> Sort: 
	<select ng-model="$ctrl.orderProp">
		<option value="certificate.name">Alphabetical</option>
		<option value="certificate.cost">Cost</option>
	</select>
</p>
<p> Program Area: 
	<select ng-model="$ctrl.aos" ng-change="$ctrl.getCorrectData($ctrl.aos)">
		<option value="art-and-design">Art and Design</option>
		<option value="education">Education</option>
	</select>
</p>
<ul class="list-unstyled"> 
	<li ng-repeat="cert in $ctrl.fiveCerts | filter:$ctrl.query | orderBy:$ctrl.orderProp"> 
		<p>{{cert.certificate.category}}  
		<span>{{cert.certificate.name}}</span></p> 
	</li> 
</ul>

<style>
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-unstyled p {
	padding: 10px 10px;
    background: rgba(245, 243, 243, 1);
    border-bottom: 1px solid lightblue;
    margin: 0;
    border-top: 1px solid darkblue;
}

</style>

